<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/bootstrap-icons.css" />
    <link rel="stylesheet" href="../static/bootstrap.min.css" />
    <title>Flask Learn</title>
  </head>
  <body class="bg-dark text-light min-vh-100 position-relative">
    {% block header %} Here is the header area! {% endblock %} {% block aside %}
    Here is the aside area! {% endblock %} {% block main %} Here is the main
    area! {% endblock %} {% block footer %} Here is the footer area! {% endblock
    %}
    <script src="../static/bootstrap.bundle.min.js"></script>
  </body>
</html>
